@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	var footer = Umbraco.ContentAtRoot().FirstOrDefault()
    .ChildrenOfType("footer")
    .Where(x => x.IsVisible());
}

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <!-- SOCIAL ICONS -->
                <div class="col-sm-6 col-sm-push-6 footer-social-icons">
                	@foreach (var item in footer)
	{
                    <span>@item.Value("soMeTextFooter")</span>
    }
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                </div>
                <!-- /SOCIAL ICONS -->
                <div class="col-sm-6 col-sm-pull-6 copyright">
                	@foreach (var item in footer)
	{
                    <p> <!--Needs attention!!!!!!-->
                        &copy; @item.Value("currentYear")
                        <a href="">@item.Value("companyName")</a>. 
                        @item.Value("allRightsReservedText")
                    </p>
	}

                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->