<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="a6a51359-ea26-459a-ab66-15a9ca08000a" name="Umbraco assignment - cluster" alias="umbraco-assignment-cluster" type="Starter" color="" url="https://www.s1.umbraco.io/project/umbraco-assignment-cluster">
  <environment type="development" name="Development" id="e67066e1-f984-45c7-b2c5-cf0c79bced74">https://dev-umbraco-assignment-cluster.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="24df6156-1d40-4950-9f70-cc4742e9d735">https://umbraco-assignment-cluster.s1.umbraco.io</environment>
</environments>